[user]
	email = mstkhdmjwjl17@gmail.com
	name = Islam Mohamed

[safe]
  # directory = /home/shared/Islam-Projects/Python
  directory = /home/shared/Islam-Projects
  directory = /home/islam/.config/zsh
	directory = /mnt/my-data/web-projects/VH-WEBSITE-BOMSQUAD-WEB
	directory = /mnt/my-data/web-projects/ascendinf-test-web

[color "status"]
	added = blue bold
	changed = green 
	untracked  = red bold
	modified = yellow bold

[color "branch"]
	remote = yellow bold
	branch = white bold
	
[pull]
	ff = only
	rebase = true
[init]
	defaultBranch = main
[http]
	postBuffer = 524288000
[core]
	editor = codium --wait
	autocrlf = input
[color]
	ui = auto
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
